<!doctype html>
<html lang="en" ng-app="booruApp">
	<head>
		<base href="/">
		<title>Booru</title>
		<meta name="application-name" content="Booru">
		<meta charset="utf-8">
		<meta name="theme-color" content="#b78755">
		<link rel="icon" type="image/svg+xml" href="/img/favicon.svg" sizes="any">
		<link rel="icon" type="image/png" href="/img/favicon_256.png" sizes="256x256">
		<link rel="icon" type="image/png" href="/img/favicon_32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/img/favicon_16.png" sizes="16x16">
		<link rel="stylesheet" type="text/css" href="/style.css">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
	</head>
	<body ng-controller="mainController">
		<div class="bar">
			<a ui-sref="home"><img alt="Booru" src="/img/favicon.svg"></a>
			<form action="" ng-submit="search($event)">
				<input type="text" ng-model="query_wip">
			</form>
			<ul>
				<li><a ui-sref="posts">posts</a></li>
				<li><a>tags</a></li>
				<li><a>login</a></li>
			</ul>
		</div>
		<noscript>JavaScript is required for this Booru!</noscript>
		<div class="body" ui-view></div>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ngInfiniteScroll/1.3.0/ng-infinite-scroll.min.js"></script>
		<script type="text/javascript" src="/js/main.js"></script>
		<script type="text/javascript" src="/js/services.js"></script>
		<script type="text/javascript" src="/js/controllers.js"></script>
	</body>
</html>
