body {
	margin: 0;
	background-color: #2c2c2c;
	color: #fff;
	font-family: sans-serif;
}

a {
	text-decoration: none;
	color: white;
}

div.bar {
	display: flex;
	align-items: center;
	background-color: #000;
	overflow: hidden;
	padding: 8px;
}

div.bar img {
	width: 32px;
	height: 32px;
}

div.bar > img:hover {
	text-shadow: 0px 0px 3px #aaa;
}

div.bar > form {
	margin: 0 4px 0 8px;
}

div.bar > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

div.bar > ul > li {
	display: block;
	padding: 0 4px;
	float: left;
}

div.bar > ul > li > a {
	text-align: center;
	color: #c2c2c2;
}

div.bar > ul > li > a:hover {
	color: #fff;
	text-shadow: 0px 0px 3px #fff;
}

div.body {
	margin: 8px;
	overflow: auto;
}

div.body > div.posts {
	display: flex;
	flex-wrap: wrap;
}

div.body > div.posts > a {
	display: block;
	position: relative;
	margin: 4px;
	border: 2px solid #000;
}

div.body > div.posts > a > img {
	display: block;
	width: 128px;
	height: 128px;
}

div.body > div.posts > a > div {
	font-size: 10px;
	background-color: #000;
	width: 124px;
	padding: 2px;
}

div.body > div.posts > a:hover {
	box-shadow: 0px 0px 5px #fff;
}

span.rating1 { color: #00aa00; }
span.rating2 { color: #ffd700; }
span.rating3 { color: #aa0000; }

span.tag1 { color: #006ffa; }
span.tag2 { color: #00aa00; }
span.tag3 { color: #aa00aa; }
span.tag4 { color: #aa0000; }
span.tag5 { color: #ffd700; }
span.tag6 { color: #fff; }
span.tag7 { color: #000; }
