<div style="margin-top:180px;text-align:center;">
	<img ng-repeat="d in digits track by $index" ng-src="/img/counter_{{d}}.png" alt="{{d}}">
</div>
<div style="width: 340px; margin: 20px auto 0 auto;text-align: center;">
	<form action="" ng-submit="$parent.search($event)">
		<input style="width: 100%;" class="tagbox" type="text" name="tags" ng-model="$parent.query_wip">
	</form>
	<span style="font-size: 10px;">Running Booru by teamalpha5441</span>
</div>
