<div class="posts" infinite-scroll="loadMore()" infinite-scroll-distance="1" infinite-scroll-disabled="busy">
	<a ng-repeat="p in posts" href="/posts/{{p.PID}}">
		<img alt="#{{p.PID}}" ng-src="/api/posts/{{p.PID}}/thumb">
		<div>
			{{p.Width}}x{{p.Height}}
			<!-- img alt="O" src="/img/icon_crown.png" -->
		</div>
	</a>
</div>
<p ng-bind="footer"></p>
