<ng-switch on="post.ImageMimeCategory">
	<img ng-switch-when="image" alt="#{{post.PID}}" ng-src="{{post.ImageURL}}">
	<video ng-switch-when="video" ng-src="{{post.ImageURL}}" type="{{post.ImageMime}}" preload="auto" autoplay controls loop>
		Videos aren't supported in your browser or on your system.
	</video>
</ng-switch>
<ul>
	<li ng-repeat="t in post.Tags"><span class="tag{{t.Type}}">{{t.Tag}}</span></li>
</ul>
